@model SunriseShelter.Models.Adoption

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adoption</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdoptionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdoptionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orphanage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orphanage.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdoptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
