@model IEnumerable<SunriseShelter.Models.Adoption>

@{
    ViewData["Title"] = "Index";
}

<h1>Adoptions</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />      <!-- This will show the filtering searchbox, thus making it functional-->
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a class="btn btn-default" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdoptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Children)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orphanage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdoptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Orphanage.Name)
            </td>
            <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.AdoptionId">Edit</a> |
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.AdoptionId">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AdoptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
