@model PaginatedList<SunriseShelter.Models.Adoption>

@{
    ViewData["Title"] = "Index";
}

<h1>Adoptions</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />      <!-- This will show the filtering searchbox, thus making it functional-->
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a class="btn btn-default" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
@if (!Model.Any())
{
    <div class="alert alert-secondary border-0 rounded shadow-sm" role="alert">
        "@ViewData["CurrentFilter"]" is not in the record.
    </div>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                    <a asp-action="Index" 
                    asp-route-sortOrder="@ViewData["DateSortParm"]"
                    class="custom-hover-link">
                    Date Of Adoption
                    </a>
            </th>
            <th>
                    <a asp-action="Index" 
                    asp-route-sortOrder="@ViewData["NameSortParm"]"
                    class="custom-hover-link">
                    Parent
                    </a>
            </th>
            <th>
                Children
            </th>
            <th>
                Orphanage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdoptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Orphanage.Name)
            </td>
            <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.AdoptionId">Edit</a> |
                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.AdoptionId">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.AdoptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
@{
    <!-- This is for the pagination for the appointment times page, it will display the previous and next page and will make it functional-->
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>